// Colors //

$primary: #385A9C;
$green: #3BA124;
$gray: #EAEBF0;


// Fonts info //  

$fs-xl: 2.5rem;
$fs-l: 2rem;
$fs-m: 1.5rem;
$fs-s: 1rem;
$fs-xs: .8rem;

$font: "Open Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    font-family: $font;
}

h1 {
    font-size: $fs-xl;
}

a {
    text-decoration: none;
}

#container {
    box-sizing: border-box;
}