.header-content {
    display: flex;
    background-color: $primary;
    color: white;
    align-items: center;

    h1 {
        margin-left: 1em;
    }

    span {
        color: white;
        background: $green;
        margin-left: .5em;
        padding: .4em;
    }
}